.expenselist{

    &__edit{
        width:7rem;
    }
    &__headertitle{
        text-align: center;
    }
    &__checkbox{
        vertical-align: middle;
    }
    &__table{
        @extend .responsive-table;
        @extend .striped;
    }

    &__editicon{
        text-align: center;
        cursor: pointer;
        margin-left: 1rem;
    }
}